h1{
    color: aliceblue;
    background-color: gray;
    font-style: italic;
    font-size: 50px;
    text-align: center;
    
}
body{
    color:black ;
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    

}